<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="static/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
   <title>Anime Tracker</title>
</head>
<body>
        <table class="table">
            <tr>
                <th><h2>Title</h2></th>
                <th><h2>Last Episode</h2></th>
                <th><h2>Options</h2></th>
            </tr>
            {{ range . }}
            <tr>
                <td><h4>{{.Title}}</h4></td>
                <td>{{.Episode}}</td>
                <td>
                    <table class="table">
                        <tr>
                            <form action="/increment" method="POST">
                                <input type="hidden" name="Title" value="{{.Title}}">
                                <input type="submit" value="Increment">
                            </form>
                        </tr>
                        <tr>
                            <form action="/remove" method="POST">
                                <input type="hidden" name="Title" value="{{.Title}}">
                                <input type="submit" value="Remove">
                            </form>
                        </tr>
                    </table>
                </td>
            </tr>
            {{ end }}
        </table>
        <h1><a href="/newAnime">Add an anime</a></h1>
</body>
</html>
